page-main {
    .pane {
        background: url('http://www.biology-questions-and-answers.com/images/Water-and-Mineral-Salts.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}
/* http://sixrevisions.com/css/responsive-background-image/ */
